#listing-extract-search .search-input-line {
    display: flex;
    flex-wrap: wrap;
}

#listing-extract-search .search-input-line input {
    flex: 1;
}

#listing-extract-search select {
    max-width: 12em;
}

#listing-extract-search {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
}


#listing-extract-search .search-result {
    border-top: 2px solid gray;
    margin-top: 30px;
    padding-top: 10px;
}

#listing-extract-search .search-result .url {
    color: gray;
    font-size: small;
    display: block;
}

#listing-extract-search .search-result .heading {
    font-size: larger;
    display: block;
}


